<div class="content">
<section id="intro">
  <div class="container jumbotron text-center">
    <h1>
      Minecraft Plugin Platform
    </h1>
    <a class="btn btn-lg" (click)="launch()">
      <span>Start</span>
    </a>
  </div>
</section>

<section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 runtime">
        <div>
          <img src="../../../../assets/img/learn.png" class="img-responsive img-circle" alt="learn">
        </div>
        <h2 class="text-center">Learn to code</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempus vestibulum arcu, 
          aliquam mollis est tincidunt sit amet. Donec sem risus, tincidunt ut elementum quis, aliquet nec felis. 
          Phasellus luctus nisl at enim mattis, malesuada rutrum metus malesuada. Aenean cursus ex sapien, sed tristique 
          felis sollicitudin vel. Pellentesque vestibulum vitae eros sagittis cursus. Mauris porta auctor consequat. 
          Maecenas id magna magna. Vivamus in ultrices justo, ut tincidunt ipsum. Aliquam a ante neque. Morbi posuere 
          magna eu augue luctus, vel suscipit risus rhoncus.
        </p>
      </div>
    </div>
  </div>
</section>

</div>