<div *ngIf="status == Status.None">
  <h1>{{history.currentGui.metadata?.name}}</h1>
  <div *ngIf="!token.valid">
    <hr/>
    <la-asciidoc docId="account-link-warning"></la-asciidoc>
    <p class="text-center">
      <button class="btn btn-sm btn-danger" (click)="linkAccounts.open()">Grant Access</button>
    </p>
  </div>

  <div *ngIf="token.valid">
    <div>
      <p>
        Your project is ready; now you can launch it on OpenShift Online.
        The launch process will create both a GitHub repository containing your new Minecraft Plugin and
        a new project a Minecraft Server on Openshift running that plugin.
      </p>
      <div class="text-center" style="align-items: flex-end">
        <button id="back" type="button" class="btn btn-default" (click)="back()">
          Back
        </button>
        <button id="launch" type="button" class="btn btn-primary" (click)="deploy()" la-ci="true">
          Launch on OpenShift Online
        </button>
      </div>
    </div>
  </div>

  <modal #linkAccounts modalClass="modal-lg">
    <modal-content>
      <link-accounts></link-accounts>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="linkAccounts.close()">Done</button>
    </modal-footer>
  </modal>
</div>

<div *ngIf="status != Status.None">
  <div class="text-center">
    <h1 *ngIf="status == Status.Progress">
      Working...
    </h1>
    <div class="wizard-pf-success-icon" *ngIf="status == Status.Done">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </div>
    <h1 *ngIf="status == Status.Done">
      Your project is ready!
    </h1>
  </div>
  <div class="alert alert-danger alert-dismissable" *ngIf="error">
    <span class="pficon pficon-error-circle-o"></span>
    {{error}}
    <button id="retry" class="pull-right btn btn-default" (click)="retry()">
      Try Again
    </button>
  </div>

  <ul class="list-group">
    <li class="list-group-item" [class.error-row]="status.data && status.data.error" *ngFor="let status of statusMessages">
      <span class="pficon pficon-ok" style="font-size: 2.2em" *ngIf="status.done"></span>
      <span class="spinner spinner-inline" *ngIf="(!status.data || !status.data.error) && lastNotDone(status.messageKey)"></span>
      <span class="pficon pficon-error-circle-o" style="font-size: 2.2em" *ngIf="status.data && status.data.error"></span>
      <span class="status-message">
        {{status.message}}
        <div class="info-doc" *ngIf="status.data">
          <la-asciidoc [docId]="status.data.doc"></la-asciidoc>
        </div>
      </span>
    </li>
  </ul>
  <la-buttons [state]="history.currentGui.state"></la-buttons>
</div>
